body{
    margin: 0;
    background-color: darkslategrey;
}

.menuBar{
    position:fixed;
    background-color: chartreuse;
    width: 100%;
    height: 10%;
    margin: 0;
    box-shadow: 2px 3px 20px gray;
}
.menuBar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    height: 100%;    
}

.boxMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    height: 100%;
}

.box{
    width: 450px;
    height: 450px;
    padding: 50px;
    border: 10px;
    margin: 50px;
    background-color: darkturquoise;
    border-color: deeppink;
    text-align: center;
}

