:root{
    font-size: 100%;
    --headerHeight: 5em;
    --boxWidth: 30em;
    --mainColor: rgb(42, 45, 61);
    --bgColor: darkslategrey;
}

body{
    margin: 0;
    background-color: var(--bgColor);
}


.menuBar{
    position:fixed;
    z-index: 100;
    top: 0px;
    background-color: var(--mainColor);
    width: 100%;
    height: var(--headerHeight);
    margin: 0;
    margin-bottom: 5px;
    box-shadow: 2px 3px 20px black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.account{
    margin: 5px;
    margin-bottom: 0;
    font-size: small;
}
.account p{
    margin: 5px;
    margin-left: 0;
}

.login{
    z-index: 999999;
    position: fixed;
    left: 20vw;
    top: 15vh;
    width: 60vw;
    height: 70vh;
    border: 3px solid black;
    
    backdrop-filter: blur(10px);
    background-size: 400% 400%;
    background-image: linear-gradient(var(--mainColor), darkslategrey, black);
}

.boxMenu{
    margin-top: calc(var(--headerHeight)*2);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding-inline: 2rem;
    height: 100%;
}

.box{
    width: var(--boxWidth);
    height: calc(var(--boxWidth)* (1 + 2/5));
    height: 80vh;
    padding: 1rem;
    margin:2.5rem;
    margin-top: 0;
    margin-bottom: 5rem;
    background-size: 400% 400%;
    background-image: linear-gradient(var(--mainColor), darkslategrey, black);
    border: 3px black solid;
    display: flex; 
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
}

.accountForm{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-direction: column; 
    height: 80%; 
    width: 80%;
}

.box input{
    height: 6%;
    width: 80%;
}

@keyframes boxAnimation {
    0%{transform: scale(1,1); box-shadow: 0px 0px 0px black;}
    100%{transform: scale(1.003, 1.003); box-shadow: 0px 0px 20px black;}
}
.box:hover{
    animation: boxAnimation 0.1s linear 0s;
    animation-fill-mode: forwards;
    
}

.boxImg{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.boxImg img{
    width: var(--boxWidth);
    height: calc(var(--boxWidth) * 9 / 16);
}
.boxImg video{
    width: var(--boxWidth);
    height: calc(var(--boxWidth) * 9 / 16);
}

.pcButton{
    width: 100%;
    height: 15%;
    margin-top: auto;

    background-color: green;
    border-color: black;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;
}

.popUp{
    --width: var(--boxWidth);
    --height: calc(var(--boxWidth) / 10);
    --border: 3px;

    width: var(--width);
    height: var(--height);
    position: fixed;
    z-index: 100;
    background-color: var(--mainColor);
    border: var(--border) solid black;
    border-radius: 6px;
    left: calc(50% - var(--width) / 2 - var(--border));
    bottom: calc(0 - var(--height) - var(border) * 2);
    
    
    

    text-align: center;
    line-height: var(--height);

    animation-name: popUpAnimation;
    animation-duration: 5s;
}

input{
    background-color: var(--bgColor);
    border-color: var(--mainColor);
    border-style:solid;
    border-width: 2px;
    outline:none;
    transition-duration: 300ms;
    border-color: rgb(35, 45, 50);
}

input:hover:not(:focus){
    border-color: rgb(25, 35, 40);
}

input:focus{
    border-color: black;
}



@keyframes popUpAnimation {
    0% {bottom: -4em}
    10% {bottom: 1em;}
    90% {bottom: 1em;}
    100% {bottom: -4em;}
}
