:root{
    font-size: 100%;
    --headerHeight: 5em;
    --boxSize: 30em;
    --mainColor: rgb(42, 45, 61);
}

body{
    margin: 0;
    background-color: darkslategrey;
}

.menuBar{
    position:fixed;
    z-index: 100;
    top: 0px;
    background-color: var(--mainColor);
    width: 100%;
    height: var(--headerHeight);
    margin: 0;
    margin-bottom: 5px;
    box-shadow: 2px 3px 20px black;
}
.menuBar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    height: 100%;    
}

.boxMenu{
    margin-top: calc(var(--headerHeight)*2);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding-inline: 2rem;
    height: 100%;
}

.box{
    width: var(--boxSize);
    height: calc(var(--boxSize)* (1 + 2/5));
    padding: 1rem;
    margin:2.5rem;
    margin-top: 0;
    margin-bottom: 5rem;
    background-size: 400% 400%;
    background-image: linear-gradient(var(--mainColor), darkslategrey, black);
    border: 3px black solid;
    display: flex; 
    justify-content: center;
}
@keyframes animation {
    0%{transform: scale(1,1); box-shadow: 0px 0px 0px black;}
    100%{transform: scale(1.003, 1.003); box-shadow: 0px 0px 20px black;}
}
.box:hover{
    animation: animation 0.1s linear 0s;
    animation-fill-mode: forwards;
    
}

.boxImg{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.boxImg img{
    width: var(--boxSize);
    height: calc(var(--boxSize) * 9 / 16);
}

